<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <span class="credit">Propulsé par <a href="http://octopress.org">Octopress</a></span> -
  {% if site.url == "http://brianarmstrong.org" %}
    <span class="credit">Thème de <a href="https://github.com/barmstrong/octopress-bootstrap">Brian Armstrong</a></span>
  {% else %}
    <span class="credit"><a href="https://github.com/nicolasleger/octopress-bootstrap-fr">Adaptation française du thème de Brian Armstrong</a> par <a href="https://nleger.com" title="Site personnel de Nicolas Léger">Nicolas Léger</a></span>
  {% endif %}
</p>
