<div class="subscribe">
  <table>
    <tr>
      <td><span>Recevoir les nouvelles: &nbsp;</span></td>
      <td><a href="#" onclick="window.open('{{site.subscribe_email}}','FeedBurner','menubar=no,width=600,height=600,toolbar=no'); return false;" class="btn"><i class="icon-envelope"></i> Par email</a></td>
      <td><a href="{{site.subscribe_rss}}" class="btn"><i class="icon-cog"></i> Par RSS</a></td>
      <td><a href="http://twitter.com/{{site.twitter_user}}" class="btn"><i class="icon-twitter-sign"></i> Sur Twitter</a></td>
    </tr>
  </table>
</div>
<h1 class="title">{{ site.title }}</h1>
{% if site.subtitle %}
  <p class="lead">{{ site.subtitle }}</p>
{% endif %}
